/* Root Container */
.app {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}
.header-left {
  width: 10%;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.header-title {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.header-right {
  width: 10%;
}

.question-mark-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.question-mark-btn img {
  width: 75%;
}

.letter {
  display: inline-flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  border: 2px solid #ccc;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.centered-content {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.score-item {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.letter-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.word {
  padding-top: 100px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.word-container {
  width: 100%;
}
.word-score {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  font-family: sans-serif;
}
